@model Center
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h3>Create Center</h3>

<form asp-action="Create">

    <div class="mb-3">
        <label>Center Name</label>
        <input asp-for="CenterName"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Center Code</label>
        <input asp-for="CenterCode"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Area</label>
        <input asp-for="Area"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Location</label>
        <input asp-for="Location"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Phone</label>
        <input asp-for="Phone"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Status</label>
        <input asp-for="Status"
               class="form-control" />
    </div>

    <button type="submit"
            class="btn btn-primary">
        Save
    </button>

</form>
